html,
body {
    height: 100%;
}

.text_box {
    padding: 30px;
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#container{
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

.center_buttons{
    margin:auto;
    display:block;
}
.center_buttons {
    margin: auto;
    display: flex;
}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #000000;
    font-size: 15px;
    background: #34d3d9;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #1ec2eb;
    background-image: -webkit-linear-gradient(top, #1ec2eb, #3498db);
    background-image: -moz-linear-gradient(top, #1ec2eb, #3498db);
    background-image: -ms-linear-gradient(top, #1ec2eb, #3498db);
    background-image: -o-linear-gradient(top, #1ec2eb, #3498db);
    background-image: linear-gradient(to bottom, #1ec2eb, #3498db);
    text-decoration: none;
  }
  .red{
      margin-right: 0.5vh;
      font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive
  }